
@{
    ViewBag.Title = "PaymentConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align: center">@ViewBag.Message</h3>

@{
    string message = @ViewBag.Message;
}

@{
    if (message.Contains("Thanh toán thành công hóa đơn"))
    {
        <div style="width: 20%; margin: 0 auto;">
            <a class="btn btn-success" href="@Url.Action("DangKyThanhCong", "BookingQuang")">CONFIRM</a>
        </div>
    }
}

@{
    if (message.Contains("Có lỗi xảy ra trong quá trình xử lý"))
    {
        <h3 style="text-align: center">@ViewBag.MaGiaoDich</h3>
        <h3 style="text-align: center">@ViewBag.MaLoi</h3>
        <div style="width: 20%; margin: 0 auto;">
            <a class="btn btn-success" href="@Url.Action("ThanhToanCocKhongThanhCong", "BookingQuang")">CONFIRM</a>
        </div>
    }
}


