@model WEB_KHACHSAN_MVC.Models.HOADON

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>HOADON</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TONGTIEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TONGTIEN, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.TONGTIEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
<<<<<<< Updated upstream
            @Html.LabelFor(model => model.NGAYTHANHTOAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAYTHANHTOAN, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.NGAYTHANHTOAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
=======
>>>>>>> Stashed changes
            @Html.LabelFor(model => model.MAPHIEUDATPHONG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MAPHIEUDATPHONG, new { htmlAttributes = new { @class = "form-control", required = "required", min = "1" } })
                @Html.ValidationMessageFor(model => model.MAPHIEUDATPHONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
<<<<<<< Updated upstream
            @Html.LabelFor(model => model.MANHANVIEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MANHANVIEN, new { htmlAttributes = new { @class = "form-control", required = "required", min = "1" } })
                @Html.ValidationMessageFor(model => model.MANHANVIEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
=======
>>>>>>> Stashed changes
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
