@model WEB_KHACHSAN_MVC.Models.HOADON

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Xóa Hóa Đơn</h2>
<div style="width: 28%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Tổng tiền: @Html.DisplayFor(model => model.TONGTIEN)
        </dd>
        <dd>
            Ngày thành toán: @Html.DisplayFor(model => model.NGAYTHANHTOAN)
        </dd>
        <dd>
            Mã Phiếu: @Html.DisplayFor(model => model.MAPHIEUDATPHONG)
        </dd>
        <dd>
            Mã nhân viên: @Html.DisplayFor(model => model.MANHANVIEN)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <div class="btn btn-secondary">
                @Html.ActionLink("Back", "Index")
            </div>
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>

    }
</div>
