@model WEB_KHACHSAN_MVC.Models.HOADON

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="btn btn-secondary">@Html.ActionLink("Back", "Index")</div>

<h2 style="text-align:center">Chi Tiết Hóa đơn</h2>

<div style="width: 28%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">

        <dd>
            Tổng tiền: @Html.DisplayFor(model => model.TONGTIEN)
        </dd>

        <dd>
            Ngày thanh toán: @Html.DisplayFor(model => model.NGAYTHANHTOAN)
        </dd>

        <dd>
            Mã phiếu đặt phòng: @Html.DisplayFor(model => model.MAPHIEUDATPHONG)
        </dd>

        <dd>
            Mã nhân viên: @Html.DisplayFor(model => model.MANHANVIEN)
        </dd>

    </dl>
</div>