@model IEnumerable<WEB_KHACHSAN_MVC.Models.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<table class="table">
    <tr>
        <th>
            Tổng tiền
        </th>
        <th>
            Ngày thành toán
        </th>
        <th>
            Mã phiếu đặt phòng
        </th>
        <th>
            Mã nhân viên
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TONGTIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYTHANHTOAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAPHIEUDATPHONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANHANVIEN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAHOADON }) |
            @Html.ActionLink("Details", "Detail", new { id=item.MAHOADON }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAHOADON })
        </td>
    </tr>
}

</table>
