@model IEnumerable<WEB_KHACHSAN_MVC.Models.DICHVU>

@{
    ViewBag.Title = "ViewService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewService</h2>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<table class="table">
    <tr>
        <th>
            Tên dịch vụ
        </th>
        <th>
            Đơn vị tính
        </th>
        <th>
            Giá thuê dịch vụ
        </th>
        <th>
            Mã loại dịch vụ
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENDICHVU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONVITINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIATHUEDICHVU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MALOAIDICHVU)
        </td>
        <td>
            <a class="btn btn-sm btn-dark rounded py-2 px-4" href="@Url.Action("Index","UseOrtherServiceKhai")">Using Now</a>
        </td>
    </tr>
}
</table>
