@model WEB_KHACHSAN_MVC.Models.PHONG

@{
    ViewBag.Title = "DeletePhong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DeletePhong</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PHONG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPHONG)
        </dd>

        <dt>
            Số Người Tối Đa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SONGUOITOIDA)
        </dd>

        <dt>
            Tình Trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG)
        </dd>

        <dt>
            Hình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINH)
        </dd>

        <dt>
            Mã Loại Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MALOAIPHONG)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListPhong")
        </div>
    }
</div>
