@model WEB_KHACHSAN_MVC.Models.PHONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="btn btn-secondary">@Html.ActionLink("Back", "ListPhong")</div>

<h2 style="text-align:center">Chi Tiết Phòng</h2>
<div style="width: 16%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Mã phòng: @Html.DisplayFor(model => model.MAPHONG)
        </dd>

        <dd>
            Tên Phòng: @Html.DisplayFor(model => model.TENPHONG)
        </dd>

        <dd>
            Số Người Tối Đa: @Html.DisplayFor(model => model.SONGUOITOIDA)
        </dd>

        <dd>
            Tình Trạng: @Html.DisplayFor(model => model.TINHTRANG)
        </dd>

        <dd>
            Hình: <img src="@Model.HINH" width="90" height="90" alt="ERROR" />
        </dd>

        <dd>
            Mã Loại Phòng: @Html.DisplayFor(model => model.MALOAIPHONG)
        </dd>

    </dl>
</div>
