@model WEB_KHACHSAN_MVC.Models.PHONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PHONG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã phòng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MAPHONG)
        </dd>
        <dt>
            Tên Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPHONG)
        </dd>

        <dt>
            Số Người Tối Đa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SONGUOITOIDA)
        </dd>

        <dt>
            Tình Trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG)
        </dd>

        <dt>
            Hình
        </dt>

        <dd>
            <img src="@Model.HINH" width="90" height="90" alt="ERROR" />
        </dd>

        <dt>
            Mã Loại Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MALOAIPHONG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditPhong", new { maPhong = Model.MAPHONG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
