@model IEnumerable<WEB_KHACHSAN_MVC.Models.PHONG>

@{
    ViewBag.Title = "ListPhong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div style="text-align: center">
    <h2>Danh Sách Phòng</h2>
    <p class="btn btn-success">
        @Html.ActionLink("Thêm Phòng", "CreatePhong")
    </p>
</div>

<table class="table">
    <tr style="text-align:center">
        <th>
            Mã Phòng
        <th>
            Tên Phòng
        </th>
        <th>
            Số Người Tối Đa
        </th>
        <th>
            Tình Trạng
        </th>
        <th>
            Hình
        </th>
        <th>
            Mã Loại Phòng
        </th>
        <th>
            Chức Năng
        </th>
    </tr>

@foreach (var item in Model) {
    <tr style="text-align:center">
        <td>
            @Html.DisplayFor(modelItem => item.MAPHONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENPHONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SONGUOITOIDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TINHTRANG)
        </td>
        <td>
            <img src="@item.HINH" width="200" alt="">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MALOAIPHONG)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPhong", new { maPhong = item.MAPHONG }) |
            @Html.ActionLink("Details", "Details", new { id = item.MAPHONG }) |
            @Html.ActionLink("Delete", "DeletePhong", new { maPhong = item.MAPHONG })
        </td>
    </tr>
}

</table>
