@model WEB_KHACHSAN_MVC.Models.PHIEUSDDV

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2 style="text-align:center">Thêm Phiếu Sử Dụng Dịch Vụ</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width: 14%; margin: 0 auto; text-align:center">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Ngày Sử Dụng
            <div class="col-md-12">
                @Html.EditorFor(model => model.NGAYSUDUNG, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.NGAYSUDUNG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mã Dịch Vụ
            <div class="col-md-12">
                @Html.EditorFor(model => model.MADICHVU, new { htmlAttributes = new { @class = "form-control", required = "required", min = "1" } })
                @Html.ValidationMessageFor(model => model.MADICHVU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mã Phiếu Đặt Phòng
            <div class="col-md-12">
                @Html.EditorFor(model => model.MAPHIEUDATPHONG, new { htmlAttributes = new { @class = "form-control", required = "required", min = "1" } })
                @Html.ValidationMessageFor(model => model.MAPHIEUDATPHONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mã Nhân Viên
            <div class="col-md-12">
                @Html.EditorFor(model => model.MANHANVIEN, new { htmlAttributes = new { @class = "form-control", required = "required", min = "1" } })
                @Html.ValidationMessageFor(model => model.MANHANVIEN, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="form-group" style="display: flex; justify-content: center; margin-left: 505px">
        <div class="col-md-offset-2 col-md-10">
            <div class="btn btn-secondary"> @Html.ActionLink("Back", "Index") </div>
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
}
