@model WEB_KHACHSAN_MVC.Models.PHIEUSDDV

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2 style="text-align:center">Xóa Phiếu Sử Dụng Dịch Vụ</h2>

<div style="width: 14%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">

        <dd>
            Ngày Sử Dụng: @Html.DisplayFor(model => model.NGAYSUDUNG)
        </dd>

        <dd>
            Mã Dịch Vụ: @Html.DisplayFor(model => model.MADICHVU)
        </dd>

        <dd>
            Mã Phiếu Đặt Phòng: @Html.DisplayFor(model => model.MAPHIEUDATPHONG)
        </dd>

        <dd>
            Mã Nhân Viên: @Html.DisplayFor(model => model.MANHANVIEN)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn btn-secondary">
                @Html.ActionLink("Back", "Index")
            </div>
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
    }
</div>
