@model IEnumerable<WEB_KHACHSAN_MVC.Models.PHIEUSDDV>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}


<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div style="text-align: center">
    <h2>Danh Sách Phiếu Sử Dụng Dịch Vụ</h2>
    <p class="btn btn-success">
        @Html.ActionLink("Thêm Phiếu Sử Dụng Dịch Vụ", "Create")
    </p>
</div>

<table class="table">
    <tr style="text-align:center">
        <th>
            Ngày Sử Dụng
        </th>
        <th>
            Mã Dịch Vụ
        </th>
        <th>
            Mã Phiếu Sử Dụng Dịch Vụ
        </th>
        <th>
            Mã Nhân Viên
        </th>
        <th>
            Chức Năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.NGAYSUDUNG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MADICHVU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAPHIEUDATPHONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MANHANVIEN)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MAPHIEUSDDV }) |
                @Html.ActionLink("Details", "Details", new { id = item.MAPHIEUSDDV }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MAPHIEUSDDV })
            </td>
        </tr>
    }

</table>
