@model IEnumerable<WEB_KHACHSAN_MVC.Models.LOAIPHONG>

@{
    ViewBag.Title = "ListLoaiPhong";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}


<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div style="text-align: center">
    <h2>Danh Sách Loại Phòng</h2>
    <p class="btn btn-success">
        @Html.ActionLink("Thêm Loại Phòng", "CreateLoaiPhong")
    </p>
</div>

<br />
<table class="table">
    <tr style="text-align:center">
        <th>
            Mã Loại Phòng
        </th>
        <th>
            Tên Loại Phòng
        </th>
        <th>
            Giá Thuê
        </th>
        <th>
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.MALOAIPHONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TENLOAIPHONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GIATHUE)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditLoaiPhong", new { maLoaiPhong = item.MALOAIPHONG }) |
                @Html.ActionLink("Details", "Details", new { maLoaiPhong = item.MALOAIPHONG }) |
                @Html.ActionLink("Delete", "DeleteLoaiPhong", new { maLoaiPhong = item.MALOAIPHONG })
            </td>
        </tr>
    }
</table>

