@model WEB_KHACHSAN_MVC.Models.PHIEUDATPHONG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PHIEUDATPHONG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SONGUOI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SONGUOI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYNHANPHONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYNHANPHONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYTRADUKIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYTRADUKIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIENCOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIENCOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAPHONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAPHONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MANHANVIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANHANVIEN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
