@model WEB_KHACHSAN_MVC.Models.PHIEUDATPHONG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Xóa Phiếu Đặt Phòng</h2>

<div style="width: 14%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Số Người: @Html.DisplayFor(model => model.SONGUOI)
        </dd>

        <dd>
            Ngày Nhận Phòng: @Html.DisplayFor(model => model.NGAYNHANPHONG)
        </dd>

        <dd>
            Ngày Trả Dự Kiến: @Html.DisplayFor(model => model.NGAYTRADUKIEN)
        </dd>

        <dd>
            Tiền Cọc: @Html.DisplayFor(model => model.TIENCOC)
        </dd>

        <dd>
            Mã Phòng: @Html.DisplayFor(model => model.MAPHONG)
        </dd>

        <dd>
            Mã Khách Hàng: @Html.DisplayFor(model => model.MAKH)
        </dd>

        <dd>
            Mã Nhân Viên: @Html.DisplayFor(model => model.MANHANVIEN)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn btn-secondary">@Html.ActionLink("Back", "Index")</div>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
