@model IEnumerable<WEB_KHACHSAN_MVC.Models.PHIEUDATPHONG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div style="text-align:center">
    <h2>Thông Tin Phiếu Đặt Phòng</h2>
    <p class="btn btn-success">
        @Html.ActionLink("Create", "Create")
    </p>
</div>



<style>
    table, th, td {
        border: 1px solid black;
    }
</style>


<table class="table">
    <tr style="text-align:center">
        <th>
            Mã Phiếu Đặt Phòng
        </th>
        <th>
            Số Người
        </th>
        <th>
            Ngày Nhận Phòng
        </th>
        <th>
            Ngày Trả Dự Kiến
        </th>
        <th>
            Tiền Cọc
        </th>
        <th>
            Mã Phòng
        </th>
        <th>
            Mã Khách Hàng
        </th>
        <th>
            Mã Nhân Viên
        </th>
        <th>
            Chức Năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.MAPHIEUDATPHONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SONGUOI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYNHANPHONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYTRADUKIEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIENCOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAPHONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MANHANVIEN)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MAPHIEUDATPHONG }) |
                @Html.ActionLink("Details", "Details", new { id = item.MAPHIEUDATPHONG })
            </td>
        </tr>
    }

</table>
