@model WEB_KHACHSAN_MVC.Models.PHONG

@{
    ViewBag.Title = "DeletePhong";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2 style="text-align:center">Xóa Phòng</h2>

<div style="width: 16%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">

        <dd>
            Tên Phòng: @Html.DisplayFor(model => model.TENPHONG)
        </dd>

        <dd>
            Số Người Tối Đa: @Html.DisplayFor(model => model.SONGUOITOIDA)
        </dd>

        <dd>
            Tình Trạng: @Html.DisplayFor(model => model.TINHTRANG)
        </dd>

        <dd>
            Hình: @Html.DisplayFor(model => model.HINH)
        </dd>

        <dd>
            Mã Loại Phòng: @Html.DisplayFor(model => model.MALOAIPHONG)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn btn-secondary">
                @Html.ActionLink("Back", "ListPhong")
            </div>
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
    }
</div>
