@model WEB_KHACHSAN_MVC.Models.NHANVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="btn btn-secondary">@Html.ActionLink("Back", "ListNhanVien")</div>

<h2 style="text-align:center">Chi Tiết Nhân Viên</h2>

<div style="width: 20%; margin-left:550px">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Tên Nhân Viên: @Html.DisplayFor(model => model.TENNHANVIEN)
        </dd>

        <dd>
            Năm Sinh: @Html.DisplayFor(model => model.NAMSINH)
        </dd>

        <dd>
            Email: @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dd>
            CCCD: @Html.DisplayFor(model => model.CCCD)
        </dd>

        <dd>
            Chức Vụ: @Html.DisplayFor(model => model.CHUCVU)
        </dd>

        <dd>
            Địa Chỉ: @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dd>
            Điện Thoại: @Html.DisplayFor(model => model.DT)
        </dd>

    </dl>
</div>
