@model WEB_KHACHSAN_MVC.Models.NHANVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NHANVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENNHANVIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENNHANVIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAMSINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMSINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHUCVU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUCVU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MANHANVIEN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
