@model WEB_KHACHSAN_MVC.Models.NHANVIEN

@{
    ViewBag.Title = "EditNhanVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Sửa Nhân Viên</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width: 15%;margin: 0 auto; text-align:center">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MANHANVIEN)

        <div class="form-group">
            Tên Nhân Viên
            <div>
                @Html.EditorFor(model => model.TENNHANVIEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENNHANVIEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Năm Sinh
            <div>
                @Html.EditorFor(model => model.NAMSINH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAMSINH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Email
            <div>
                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            CCCD
            <div>
                @Html.EditorFor(model => model.CCCD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CCCD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Chức Vụ
            <div>
                @Html.EditorFor(model => model.CHUCVU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CHUCVU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Địa Chỉ
            <div>
                @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Điện Thoại
            <div>
                @Html.EditorFor(model => model.DT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DT, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
<br />
<div class="form-group" style="display: flex; justify-content: center; margin-left: 505px">
    <div class="col-md-offset-2 col-md-10">
        <div class="btn btn-secondary"> @Html.ActionLink("Back", "ListNhanVien") </div>
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</div>
