@model IEnumerable<WEB_KHACHSAN_MVC.Models.NHANVIEN>

@{
    ViewBag.Title = "ListNhanVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ListNhanVien</h2>

<p>
    @Html.ActionLink("Create New", "CreateNhanVien")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENNHANVIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAMSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHUCVU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENNHANVIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAMSINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUCVU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditNhanVien", new { maNhanVien = item.MANHANVIEN }) |
            @Html.ActionLink("Details", "Details", new { maNhanVien = item.MANHANVIEN }) |
            @Html.ActionLink("Delete", "DeleteNhanVien", new { maNhanVien = item.MANHANVIEN })
        </td>
    </tr>
}

</table>
