@model IEnumerable<WEB_KHACHSAN_MVC.Models.NHANVIEN>

@{
    ViewBag.Title = "ListNhanVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div style="text-align:center">
    <h2>Danh Sách Nhân Viên</h2>
    <p class="btn btn-success">@Html.ActionLink("Create", "CreateNhanVien")</p>
</div>


<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table class="table" style="text-align:center">
    <tr>
        <th>
            Tên Nhân Viên
        </th>
        <th>
            Chức Vụ
        </th>
        <th>
            Chức Năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TENNHANVIEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUCVU)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditNhanVien", new { maNhanVien = item.MANHANVIEN }) |
                @Html.ActionLink("Details", "Details", new { maNhanVien = item.MANHANVIEN }) |
                @Html.ActionLink("Delete", "DeleteNhanVien", new { maNhanVien = item.MANHANVIEN })
            </td>
        </tr>
    }

</table>
