@model WEB_KHACHSAN_MVC.Models.PHIEUDATPHONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<p class="btn btn-secondary">
    @Html.ActionLink("Back", "Index")
</p>

<h2 style="text-align:center">Chi Tiết Phiếu Đặt Phòng</h2>

<div style="text-align:center">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Số Người: @Html.DisplayFor(model => model.SONGUOI)
        </dd>

        <dd>
            Ngày Nhận Phòng: @Html.DisplayFor(model => model.NGAYNHANPHONG)
        </dd>

        <dd>
            Ngày Trả Dự Kiến: @Html.DisplayFor(model => model.NGAYTRADUKIEN)
        </dd>

        <dd>
            Tiền Cọc: @Html.DisplayFor(model => model.TIENCOC)
        </dd>

        <dd>
            Mã Phòng: @Html.DisplayFor(model => model.MAPHONG)
        </dd>

        <dd>
            Mã Khách Hàng: @Html.DisplayFor(model => model.MAKH)
        </dd>

        <dd>
            Mã Nhân Viên:@Html.DisplayFor(model => model.MANHANVIEN)
        </dd>

    </dl>
</div>
