@model IEnumerable<WEB_KHACHSAN_MVC.Models.LOAIPHONG>

@{
    ViewBag.Title = "ListLoaiPhong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ListLoaiPhong</h2>

<p>
    @Html.ActionLink("Create New", "CreateLoaiPhong")
</p>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<table class="table">
    <tr>
        <th>
            Tên loại phòng
        </th>
        <th>
            Giá thuê
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENLOAIPHONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIATHUE)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditLoaiPhong", new { maLoaiPhong = item.MALOAIPHONG }) |
            @Html.ActionLink("Details", "Details", new { maLoaiPhong = item.MALOAIPHONG }) |
            @Html.ActionLink("Delete", "DeleteLoaiPhong", new { maLoaiPhong = item.MALOAIPHONG })
        </td>
    </tr>
}

</table>
