@model WEB_KHACHSAN_MVC.Models.KHACHHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2 style="text-align:center">Xóa Khách Hàng</h2>

<div style="width: 18%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Tên khách hàng: @Html.DisplayFor(model => model.TENKH)
        </dd>

        <dd>
            Căn cước công dân: @Html.DisplayFor(model => model.CCCD)
        </dd>

        <dd>
            Email: @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dd>
            Số điện thoại: @Html.DisplayFor(model => model.DT)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn btn-secondary">
                @Html.ActionLink("Back", "Index")
            </div>
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
    }
</div>
