@model WEB_KHACHSAN_MVC.Models.KHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>INFORMATION CUSTOMER</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Khách Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENKH)
        </dd>

        <dt>
            Căn Cước Công Dân
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCCD)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            Điện Thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
