@model WEB_KHACHSAN_MVC.Models.KHACHHANG

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="btn btn-secondary">@Html.ActionLink("Back", "Index")</div>

<h2 style="text-align:center">Chi Tiết Khách Hàng</h2>

<div style="width: 25%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">
<<<<<<< Updated upstream
        <dd>
            Tên khách hàng: @Html.DisplayFor(model => model.TENKH)
        </dd>

        <dd>
            Căn cước công dân: @Html.DisplayFor(model => model.CCCD)
=======

        <dd>
            Tên Khách Hàng: @Html.DisplayFor(model => model.TENKH)
        </dd>

        <dd>
            Căn Cước Công Dân: @Html.DisplayFor(model => model.CCCD)
>>>>>>> Stashed changes
        </dd>

        <dd>
            Email: @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dd>
<<<<<<< Updated upstream
            Điện thoại: @Html.DisplayFor(model => model.DT)
=======
            Điện Thoại: @Html.DisplayFor(model => model.DT)
>>>>>>> Stashed changes
        </dd>
    </dl>
<<<<<<< Updated upstream
</div>
=======
</div>
>>>>>>> Stashed changes
