@model IEnumerable<WEB_KHACHSAN_MVC.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>CUSTOMER</h2>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Khách Hàng
        </th>
        <th>
            Căn Cước Công Dân
        </th>
        <th>
            Email
        </th>
        <th>
            Điện Thoại
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TENKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCCD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DT)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MAKH }) |
                @Html.ActionLink("Details", "Details", new { id = item.MAKH }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MAKH })
            </td>
        </tr>
    }

</table>
