@model IEnumerable<WEB_KHACHSAN_MVC.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div style="text-align: center">
    <h2>Danh Sách Khách Hàng</h2>
    <p class="btn btn-success">
        @Html.ActionLink("Thêm Khách hàng", "Create")
    </p>
</div>
<table class="table">
    <tr>
        <th>
            Mã Khách hàng
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Căn cước công dân
        </th>
        <th>
            Email
        </th>
        <th>
            Số điện thoại
        </th>
        <th style="text-align:center">Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MAKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TENKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCCD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DT)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MAKH }) |
                @Html.ActionLink("Details", "Details", new { id = item.MAKH }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MAKH })
            </td>
        </tr>
    }

</table>
