@model IEnumerable<WEB_KHACHSAN_MVC.Models.TAIKHOAN>

@{
    ViewBag.Title = "ListTaiKhoan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ListTaiKhoan</h2>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<p>
    @Html.ActionLink("Create New", "CreateTaiKhoan")
</p>
<table class="table">
    <tr>
        <th>
            Tên Đăng Nhập
        </th>
        <th>
            Mật Khẩu
        </th>
        <th>
            Mã Nhân Viên
        </th>
        <th>
            Mã Phân Quyền
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENDANGNHAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATKHAU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANHANVIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAPHANQUYEN)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTaiKhoan", new { tenDangNhap = item.TENDANGNHAP }) |
            @Html.ActionLink("Details", "Details", new { id = item.TENDANGNHAP }) |
            @Html.ActionLink("Delete", "DeleteTaiKhoan", new { tenDangNhap = item.TENDANGNHAP })
        </td>
    </tr>
}

</table>
