@model WEB_KHACHSAN_MVC.Models.PHANQUYEN

@{
    ViewBag.Title = "CreatePhanQuyen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Thêm Phân Quyền</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TENPHANQUYEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.TENPHANQUYEN, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.TENPHANQUYEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QUYENHAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.QUYENHAN, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.QUYENHAN, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="btn btn-secondary"> @Html.ActionLink("Back", "ListPhanQuyen") </div>
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
}

