@model WEB_KHACHSAN_MVC.Models.PHANQUYEN

@{
    ViewBag.Title = "CreatePhanQuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CREATE PHÂN QUYỀN</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Tên phân quyền
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENPHANQUYEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENPHANQUYEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Quyền hạn
            <div class="col-md-10">
                @Html.EditorFor(model => model.QUYENHAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QUYENHAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListPhanQuyen")
</div>
