@model IEnumerable<WEB_KHACHSAN_MVC.Models.PHANQUYEN>

@{
    ViewBag.Title = "ListPhanQuyen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ListPhanQuyen</h2>

<p>
    @Html.ActionLink("Create New", "CreatePhanQuyen")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENPHANQUYEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUYENHAN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENPHANQUYEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUYENHAN)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPhanQuyen", new { maPhanQuyen = item.MAPHANQUYEN }) |
            @Html.ActionLink("Details", "Details", new { maPhanQuyen = item.MAPHANQUYEN }) |
            @Html.ActionLink("Delete", "DeletePhanQuyen", new { maPhanQuyen = item.MAPHANQUYEN })
        </td>
    </tr>
}

</table>
