@model WEB_KHACHSAN_MVC.Models.KHACHHANG

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="btn btn-secondary">@Html.ActionLink("Back", "Index")</div>

<h2 style="text-align:center">Chi Tiết Khách Hàng</h2>

<div style="width: 25%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Tên khách hàng: @Html.DisplayFor(model => model.TENKH)
        </dd>

        <dd>
            Căn cước công dân: @Html.DisplayFor(model => model.CCCD)
        </dd>

        <dd>
            Email: @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dd>
            Điện thoại: @Html.DisplayFor(model => model.DT)
        </dd>

    </dl>
</div>