@model IEnumerable<WEB_KHACHSAN_MVC.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<table class="table">
    <tr>
        <th>
            Mã Khách hàng
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Căn cước công dân
        </th>
        <th>
            Email
        </th>
        <th>
            Số điện thoại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MAKH }) |
            @Html.ActionLink("Details", "Detail", new { id = item.MAKH }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MAKH })
        </td>
    </tr>
}

</table>
