@model WEB_KHACHSAN_MVC.Models.DICHVU

@{
    ViewBag.Title = "DeleteDichVu";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2 style="text-align:center">Xóa Loại Phòng</h2>
<div style="width: 18%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Tên dịch vụ: @Html.DisplayFor(model => model.TENDICHVU)
        </dd>
        <dd>
            Đơn vị tính: @Html.DisplayFor(model => model.DONVITINH)
        </dd>
        <dd>
            Giá thuê dịch vụ: @Html.DisplayFor(model => model.GIATHUEDICHVU)
        </dd>
        <dd>
            Mã loại dịch vụ: @Html.DisplayFor(model => model.MALOAIDICHVU)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn btn-secondary">
                @Html.ActionLink("Back", "ListDichVu")
            </div>
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
    }
</div>
