@model WEB_KHACHSAN_MVC.Models.DICHVU

@{
    ViewBag.Title = "DetailDichVu";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="btn btn-secondary">@Html.ActionLink("Back", "ListDichVu")</div>

<h2 style="text-align:center">Chi Tiết Dịch Vụ</h2>

<div style="width: 18%; margin: 0 auto">
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Tên dịch vụ: @Html.DisplayFor(model => model.TENDICHVU)
        </dd>
        <dd>
            Đơn vị tính: @Html.DisplayFor(model => model.DONVITINH)
        </dd>
        <dd>
            Giá thuê dịch vụ: @Html.DisplayFor(model => model.GIATHUEDICHVU)
        </dd>
        <dd>
            Mã loại dịch vụ: @Html.DisplayFor(model => model.MALOAIDICHVU)
        </dd>
    </dl>
</div>