@model WEB_KHACHSAN_MVC.Models.DICHVU

@{
    ViewBag.Title = "DeleteDichVu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 style="text-align:center">Are you sure you want to delete this?</h3>
<div style="text-align:center">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên dịch vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENDICHVU)
        </dd>

        <dt>
            Đơn vị tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONVITINH)
        </dd>

        <dt>
            Giá thuê dịch vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIATHUEDICHVU)
        </dd>

        <dt>
            Mã loại dịch vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MALOAIDICHVU)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListDichVu")
        </div>
    }
</div>
