@model WEB_KHACHSAN_MVC.Models.DICHVU

@{
    ViewBag.Title = "EditDichVu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Sửa Dịch vụ</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="width: 14%; margin: 0 auto; text-align:center">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MADICHVU)

        <div class="form-group">
            <div class="col-md-10">
                Tên dịch vụ: @Html.EditorFor(model => model.TENDICHVU, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.TENDICHVU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                Đơn vị tính: @Html.EditorFor(model => model.DONVITINH, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.DONVITINH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                Giá thuê dịch vụ: @Html.EditorFor(model => model.GIATHUEDICHVU, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.GIATHUEDICHVU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                Mã loại dịch vụ: @Html.EditorFor(model => model.MALOAIDICHVU, new { htmlAttributes = new { @class = "form-control", required = "required", min = "1" } })
                @Html.ValidationMessageFor(model => model.MALOAIDICHVU, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

<div class="form-group" style="display: flex; justify-content: center; margin-left: 505px">
    <div class="col-md-offset-2 col-md-10">
        <div class="btn btn-secondary"> @Html.ActionLink("Back", "ListDichVu") </div>
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</div>