@model IEnumerable<WEB_KHACHSAN_MVC.Models.PHONG>

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Booking</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENPHONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SONGUOITOIDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TINHTRANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MALOAIPHONG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENPHONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SONGUOITOIDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TINHTRANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MALOAIPHONG)
        </td>
        <td>
            <div>
                <a class="btn btn-success" href="@Url.Action("ThemKhachHang", "BookingQuang",
                new { @MaPhong = item.MAPHONG})">BOOK NOW</a>
            </div>
        </td>
    </tr>
}

</table>
