@model IEnumerable<WEB_KHACHSAN_MVC.Models.DICHVU>

@{
    ViewBag.Title = "ListDichVu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<style>
    table, th, td{
        border: 1px solid black;
    }
</style>
<h2>OUR SERVICES</h2>

<p>
    @Html.ActionLink("Create New", "CreateDichVu")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENDICHVU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONVITINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIATHUEDICHVU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MALOAIDICHVU)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENDICHVU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONVITINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIATHUEDICHVU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MALOAIDICHVU)
        </td>
        <td>
            <div>
                <a class="btn btn-success" href="@Url.Action("CreateSuDungDichVu", "BookingQuang",
                    new { @maDichVu = item.MADICHVU})">BOOK NOW</a>
            </div>
        </td>
    </tr>
}

</table>
